*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  filter: drop-shadow(2px 4px 6px black);
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rebeccapurple;
}

canvas{
  border-radius: 10px;
}


